[run]
branch = True
omit = */migrations/__init__.py
source = polymorphic_auth

[report]
exclude_lines =
    def __repr__
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
show_missing = True
